<div class="root" *ngIf="detail">
  <h1>{{ detail.title }}</h1>
  <h4>{{ detail.from + " - " + detail.time }}</h4>
  <p class="mat-caption">{{ detail.summary }}</p>
  <mat-divider class="divider"></mat-divider>
  <div *ngFor="let item of detail.contentList">
    <p *ngIf="item.type === 1; else elseBlock">{{ item.content }}</p>
    <ng-template #elseBlock>
      <img
        #elseBlock
        class="img"
        [src]="item.content"
        referrerpolicy="no-referrer"
      />
    </ng-template>
  </div>
  <mat-divider class="divider"></mat-divider>
</div>
