<!-- <button mat-button (click)="openDialog()">add</button> -->

<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    class="tree-node"
    matTreeNodePadding
    cdkDrag
    [cdkDragData]="node"
  >
    <button
      *ngIf="hasChild(0, node); else hasNoChild"
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.item"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <ng-template #hasNoChild
      ><button mat-icon-button disabled></button
    ></ng-template>
    <span class="name">{{ node.name }}</span>
    <button mat-icon-button (click)="edit(node)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="add(node)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button cdkDragHandle>
      <mat-icon>swap_vert</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(node)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
