.root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
.toolbar {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  flex: none;
}
.spacer {
  flex: auto;
}
.container {
  // padding-top: 80px;
  flex: auto;
  overflow: auto;
}
.sidenav {
  width: 240px;
}
.router {
  margin: 0 auto;
  max-width: 800px;
}
