@import "../utils/utils.scss";

.root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
.toolbar {
  flex: none;
}
.spacer {
  flex: auto;
}
.container {
  flex: auto;
  overflow: auto;
}

.card-title {
  line-height: initial;
  @include overEllipsis(3);
}
